<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Way point</title>
  </head>
  <body>
    <div class="balance_field"></div>
    <a href="../layouts/slots.html"
      ><div class="play yellow">
        <img src="../png/main_ball.png" alt="ball" />
        <div class="text">PLAY</div>
      </div></a
    >
    <a href="../layouts/tank.html"
      ><div class="play yellow">
        <img src="../png/main_tank.png" alt="ball" />
        <div class="text">PLAY</div>
      </div></a
    >
    <a href="../layouts/shop.html"><div class="red">GARAGE</div></a>
    <script src="../scripts/balance.js"></script>
    <script src="../scripts/main.js" type="module"></script>
  </body>
</html>
