<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/slots.css" />
    <title>Way point</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="glove">
        <img src="../png/glove.png" alt="glove" />
      </div>

      <div class="first card"></div>
      <div class="second card"></div>
      <div class="third card"></div>

      <div class="warning">
        <div class="text"></div>
        <div class="yellow again">PLAY AGAIN</div>
      </div>

      <div class="desk">
        <div class="header">
          <div class="balance_field"></div>
          <a href="./main.html"><div class="home">HOME</div></a>
        </div>
      </div>
      <div class="bet_cont"></div>
      <div class="history"></div>
      <div class="footer">
        <div class="left"></div>
        <div class="tick">
          <img src="../png/tick.png" alt="tick" />
        </div>
      </div>
    </div>
    <script src="../scripts/balance.js"></script>
    <script src="../scripts/slots.js" type="module"></script>
  </body>
</html>
